{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}


<h3>About</h3>

<p>The Street Observation Project is a tool for collecting and publishing observations about a street.</p>

<h3>How to Use This Site</h3>

<h4>Speed Timer</h4>

<p>This mode allows you to time how long it takes a vehicle to pass through a section of a street, then uses the distance and time to calculate the vehicle's speed. Over the course of a session of observations, we can determine the typical speed on this section of street.</p>

<p>This site is best used by two observers in coordination (it works with one person, but that person needs a clear view of the start and end points of the section being observed). It helps when the two observers are connected by a phone call.</p>

<p>Create a new location if one does not currently exist in our system.</p>

<p>Look for good start and stopping points on the street. I like to use crosswalks for this. Determine the distance from start point to stop point (the <a href="https://support.google.com/maps/answer/1628031">ruler feature on Google Maps</a> is good for this) and enter it in the Session Settings. Don't worry, you can modify the distance later.</p>

<p>When a vehicle passes the start point, click Start Timer, and call out a description of the vehicle to the other observer over the phone. On both devices, the timer button changes to red. When the vehicle passes the stop point, click End Timer. The speed of the vehicle is displayed.</p>

<p>The state of the timer (red or green) is synchronized across both users who have the session page open.</p>

<p>If you didn't time a vehicle correctly, like if you were too slow or fast to click End Timer, you can invalidate an observation and it won't be included in the median speed calculation. Click the "Valid" button on the list of observations, which toggles the status of the observation between "Valid" and "Invalid".</p>

<h4>Counter</h4>

<p>This mode allows you to count the number of pedestrians, bicycles, cars, and other vehicles using the street. This can give you a sense of how common each mode of transit is used on the street.</p>

<p>Counter Mode is intended to be used by one observer at a time, while Speed Timer Mode is best with two observers in a session.</p>

<p>Start a new session at a location and choose the session mode of "counter". You don't have to enter the distance or the speed limit for Counter Mode.</p>

<p>Every time you see one of the people or vehicles, tap the emoji representing that mode of transit.</p>

<p>If you accidentally tap one of the emoji, you can invalidate the observation by tapping the "Valid" button on the list, which toggles the status of the observation between "Valid" and "Invalid".</p>

<p>The Stats section at the bottom of the page shows the number of observations per hour, as well as a definition for each emoji.</p>

<p>When you are done, just close the page or tap back to the Location page.</p>

<h3>Purpose</h3>

<p>Our streets are really unsafe. People driving too fast contribute to this.</p>

<p>Injuries and deaths occur frequently, but not frequently enough to force actual changes on a dangerous street. You get the perverse incentive of, "We can’t fix that street, no one has died there yet."</p>

<p>If a street is unsafe, you can complain to your local Department of Transportation, and they might do a study of the street, eventually. The Street Observation Project allows you to collect observations on your own to demonstrate the actual speed of vehicles on the street.</p>

<p>Many streets are unsafe due to their design, and to change the design of streets, you have to convince policy makers that the street is unsafe. It’s better to do this with data than with dead bodies.</p>

<h3>Maintainer</h3>

<p>This site is maintained by Devin Brady. Twitter: <a href="https://twitter.com/bradyhunch">@bradyhunch</a></p>

<p><a href='/location_list'>List of Locations</a></p>
<p><a href='/'>Home</a></p>

{% endblock %}