<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    {% endblock %}
</head>
<body>
    <div id="content" style="max-width: 500px; padding:10px;">
        {% block content %}
        {% endblock %}
    </div>
    <div id="filter" style="max-width: 500px; padding:10px;">
        {% block footer %}

        {% if current_user.is_authenticated %}
            <div><a href="/logout">Logout user: {{ current_user.email }} </a></div>
        {% else %}
            <div><a href="/login">Login</a></div>
        {% endif %}

        <div><a href='/location_list'>List of Locations</a></div>
        <div><a href='/about'>About this site</a></div>
        <div><a href="/">Home</a></div>
        {% endblock %}
    </div>
</body>

</html>