{% extends "base.html" %}
{% block title %}Counter{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<h1>Counter</h1>


<div class="container px-4">
    <div class="row row-cols-2">
    {% for _, row in emoji_count.iterrows() %}
        <div class="col p-3">

          {% if allow_data_entry %}
            <form action="/emoji?session_id={{ session_id }}&location_id={{ location_id }}&emoji_id={{ row.emoji_id }}" method="POST">
                <div class="d-grid">
                    <button type="submit" class="btn btn-outline-primary" style="font-size:50px">
                        &#{{ row.emoji_id }} {{ row.num_observations }}
                    </button>
                </div>
            </form>
          {% else %}
                <div class="d-grid">
                    <button type="submit" class="btn btn-outline-secondary" style="font-size:50px">
                        &#{{ row.emoji_id }} {{ row.num_observations }}
                    </button>
                </div>
          {% endif %}



        </div>
    {% endfor %}
    </div>
</div>

<p><a href='/session_settings?session_id={{ session_id }}&location_id={{ location_id }}'>Edit session</a></p>
<p>Location: <a href="/location?location_id={{ location_id }}">{{ location_name }}</a></p>

<h2>Observed Emoji</h2>
  <table class="table">
  <thead>
  <tr>
    <th scope="col">Time</th>
    <th scope="col">Emoji</th>
    <th scope="col">Valid</th>
  </tr>
  </thead>
  <tbody>

{% for _, obs in emoji_observations.iterrows() %}
    <tr scope="row">
    <td>{{ obs.start_time_local }}</td>
    <td style="font-size:30px">&#{{ obs.emoji_id }}</td>

    <td>
        {% if obs.observation_valid %}
        <form action="/emoji_validity?session_id={{ session_id }}&location_id={{ location_id }}&counter_id={{ obs.counter_id }}&valid_action=False" method="POST">
          <button type="submit" class="btn btn-primary">Valid</button>
        </form>
        {% else %}
        <form action="/emoji_validity?session_id={{ session_id }}&location_id={{ location_id }}&counter_id={{ obs.counter_id }}&valid_action=True" method="POST">
          <button type="submit" class="btn btn-outline-primary">Invalid</button>
        </form>
        {% endif %}
    </td>

    </tr>
{% endfor %}

</tbody>
</table>


<h2>Stats</h2>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Emoji</th>
    <th scope="col">Count per Hour</th>
    <th scope="col">Description</th>
  </tr>
  </thead>
  <tbody>

    {% for _, row in emoji_count.iterrows() %}

    <tr scope="row">
      <td style="font-size:30px">&#{{ row.emoji_id }}</td>
      <td> {{ '%0.1f'|format(row.observations_per_hour|float) }} </td>
      <td> {{ row.emoji_description }} </td>

    </tr>

    {% endfor %}
  </tbody>
</table>

<!-- todo: make this hours and minutes  -->
<p>Session duration: {{ '%0.2f'|format(session_duration_hours|float) }} hours</p>
<p>Date: {{ session_date }}</p>

{% endblock %}