{% extends "base.html" %}
{% block title %}Just Time{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

<script>
function sendTimeToServer(){
    // var time = Date.now();
    var time = new Date();
    var i = document.createElement("img");
    i.src = "/getTime?browser_time=" + time;
    document.getElementById("timer_start").innerHTML = time;
}
</script>
<button onclick="sendTimeToServer()">update time</button>
<div id="timer_start">Time: </div>

{% endblock %}