{% extends 'base.html' %}


{% block content %}


  <div class="form-wrapper">
    <h2 class="title">Location Settings</h2>

    <form method="POST" action="/location_settings?location_id={{ location_id if location_id else 'new_location' }}">
      {{ form.csrf_token }}


      <div class="form-group">
      {{ form.location_name.label }}
      {{ form.location_name }}
        {% if form.location_name.errors %}
        <ul class="errors">
          {% for error in form.location_name.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>

      <div class="form-group">
      {{ form.local_timezone.label }}
      {{ form.local_timezone }}
        {% if form.local_timezone.errors %}
        <ul class="errors">
          {% for error in form.local_timezone.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>

      <div class="form-group">
        {{ form.street_address.label }}
        {{ form.street_address }}
        {% if form.street_address.errors %}
          <ul class="errors">
            {% for error in form.street_address.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <div class="form-group">
        {{ form.city.label }}
        {{ form.city }}
        {% if form.city.errors %}
          <ul class="errors">
            {% for error in form.city.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <div class="form-group">
        {{ form.state_code.label }}
        {{ form.state_code }}
        {% if form.state_code.errors %}
          <ul class="errors">
            {% for error in form.state_code.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <div class="form-group">
        {{ form.zip_code.label }}
        {{ form.zip_code }}
        {% if form.zip_code.errors %}
          <ul class="errors">
            {% for error in form.zip_code.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <div class="form-group">
        {{ form.location_description.label }}
        {{ form.location_description }}
        {% if form.location_description.errors %}
          <ul class="errors">
            {% for error in form.location_description.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <h4>Coordinates</h4>

      <div onclick="getLocation()" class="btn btn-secondary">Use my current location</div>

      <p id="coordinate_output"></p>

      <div class="form-group">
        {{ form.location_latitude.label }}
        {{ form.location_latitude }}
        {% if form.location_latitude.errors %}
          <ul class="errors">
            {% for error in form.location_latitude.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <div class="form-group">
        {{ form.location_longitude.label }}
        {{ form.location_longitude }}
        {% if form.location_longitude.errors %}
          <ul class="errors">
            {% for error in form.location_longitude.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>



      {{ form.submit }}

      <!-- todo: add a Cancel button here -->

      </form>
  </div>

      <script>
      var x = document.getElementById("coordinate_output");

      var lat = document.getElementById("lat");
      var lon = document.getElementById("lon");


      function getLocation() {
        if (navigator.geolocation) {
          x.innerHTML = "Determining your device's location, please wait..."
          navigator.geolocation.getCurrentPosition(showPosition);
        } else {
          x.innerHTML = "Geolocation is not supported by this browser.";
        }
      }

      function showPosition(position) {
        x.innerHTML = "Determining your device's location, please wait... success!";

        lat.value = position.coords.latitude;
        lon.value = position.coords.longitude;
      }
      </script>


{% endblock %}