{% extends "base.html" %}
{% block title %}Location: {{ location_name }}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h2>Location: {{ location_name }}</h2>

  <ul>
    <li>Location ID: {{ location_id }}</li>
    <li>Local Timezone: {{ local_timezone }}</li>
    <li>Street Address: {{ street_address }}</li>
    <li>City: {{ city }}</li>
    <li>State: {{ state_code }}</li>
    <li>ZIP: {{ zip_code }}</li>
    <li>Description: {{ location_description }}</li>
  </ul>

  <p><a href='/location_settings?location_id={{ location_id }}'>Edit location</a></p>

  <p><a href='/session_settings?session_id=new_session&location_id={{ location_id }}'>Start a new session at this location</a></p>


  <h3>Speed Observation Sessions</h3>

  <table class="table">
  <thead>
  <tr>
    <th scope="col">Session Date and Time</th>
    <th scope="col">Duration</th>
    <th scope="col">Distance</th>
    <th scope="col">Median Speed</th>
    <th scope="col">Number of Observations</th>
    <th scope="col">Description</th>
  </tr>
  </thead>
  <tbody>
  {% for _, row in sessions_at_location.iterrows() %}
    <tr scope="row">
    <td><a href="/session?session_id={{ row.session_id }}">{{ row.start_timestamp_local }}</a></td>
    <td>{{ '%0.0f'|format(row.session_duration_minutes|float) }} minutes</td>
    <td>{{ '{:0.3f}'.format(row.distance_value) }} {{ row.distance_units }}</td>
    <td>{{ '{:0.1f}'.format(row.median_speed) }} {{ row.speed_units }}</td>
    <td>{{ '%0.0f'|format(row.num_observations|float) }}</td>
    <td>{{ row.session_description }}</td>
    </tr>
  {% endfor %}
</table>


  <h3>Counter Observation Sessions</h3>

  <table class="table">
  <thead>
  <tr>
    <th scope="col">Session Date and Time</th>
    <th scope="col">Duration</th>
    <th scope="col">Most Common Emoji</th>
    <th scope="col">Number of Observations</th>
    <th scope="col">Description</th>
  </tr>
  </thead>
  <tbody>
  {% for _, row in counter_sessions_at_location.iterrows() %}
    <tr scope="row">
    <td><a href="/counter?session_id={{ row.session_id }}">{{ row.start_timestamp_local }}</a></td>
    <td>{{ '%0.0f'|format(row.session_duration_minutes|float) }} minutes</td>
    <td>{{ row.most_common_emoji }}</td>
    <td>{{ '%0.0f'|format(row.num_observations|float) }}</td>
    <td>{{ row.session_description }}</td>
    </tr>
  {% endfor %}
</table>



{% endblock %}