{% extends "base.html" %}
{% block title %}Location: {{ location_name }}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h2>Location: {{ location_name }}</h2>

  <ul>
    <li>Local Timezone: {{ local_timezone }}</li>
    <li>Street Address: {{ street_address }}</li>
    <li>City: {{ city }}</li>
    <li>State: {{ state_code }}</li>
    <li>ZIP: {{ zip_code }}</li>
    <li>Description: {{ location_description }}</li>
  </ul>

  <p><a href='/location_settings?location_id={{ location_id }}'>Edit location</a></p>

  <p><a href='/session_settings?session_id=new_session&location_id={{ location_id }}'>Start a new session at this location</a></p>


{% include "session_list_table.html" %}


{% endblock %}