{% extends 'base.html' %}

{% block title %}Session Settings{% endblock %}

{% block content %}

  <div class="form-wrapper">
    <h2 class="title">Observation Session Settings</h2>

    <p>Location: <a href="/location?location_id={{ location_id }}">{{ location_name }}</a></p>


    <form method="POST" action="/session_settings?session_id={{ session_id if session_id else 'new_session' }}&location_id={{ location_id }}">
      {{ form_settings.csrf_token }}


      <div class="form-check">
      {{ form_settings.session_mode.label }}
      {{ form_settings.session_mode }}
        {% if form_settings.session_mode.errors %}
        <ul class="errors">
          {% for error in form_settings.session_mode.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>

      <div class="form-group">
        {{ form_settings.distance_value.label }}
        {{ form_settings.distance_value }}
        {% if form_settings.distance_value.errors %}
          <ul class="errors">
            {% for error in form_settings.distance_value.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <div class="form-group">
        {{ form_settings.distance_units.label }}
        {{ form_settings.distance_units }}
        {% if form_settings.distance_units.errors %}
          <ul class="errors">
            {% for error in form_settings.distance_units.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <div class="form-group">
        {{ form_settings.speed_limit_value.label }}
        {{ form_settings.speed_limit_value }}
        {% if form_settings.speed_limit_value.errors %}
          <ul class="errors">
            {% for error in form_settings.speed_limit_value.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <div class="form-group">
        {{ form_settings.speed_units.label }}
        {{ form_settings.speed_units }}
        {% if form_settings.speed_units.errors %}
          <ul class="errors">
            {% for error in form_settings.speed_units.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <div class="form-group">
        {{ form_settings.session_description.label }}
        {{ form_settings.session_description }}
        {% if form_settings.session_description.errors %}
          <ul class="errors">
            {% for error in form_settings.session_description.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <div class="form-group">
        {{ form_settings.publish.label }}
        {{ form_settings.publish }}
        {% if form_settings.publish.errors %}
          <ul class="errors">
            {% for error in form_settings.publish.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        <p class="help-block">{{ form_settings.publish.description|safe }}</p>

      </div>

      {{ form_settings.submit }}

      </form>

  </div>


<script>


function getLocation(prefix) {

    var x = document.getElementById(prefix + "_coordinate_output");
    var lat = document.getElementById(prefix + "_lat");
    var lon = document.getElementById(prefix + "_lon");

    var options = {
        enableHighAccuracy: true,
        timeout: 5000,
        maximumAge: 0
    };

    function success(pos) {
        var crd = pos.coords;
        x.innerHTML += `success!`

        lat.value = crd.latitude;
        lon.value = crd.longitude;
    }

    function error(err) {
        x.innerHTML += `<br>Error (${err.code}): ${err.message}`
    }

    if (navigator.geolocation) {
        x.innerHTML = `Determining your device's location, please wait... `
        navigator.geolocation.getCurrentPosition(success, error, options);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }


}


</script>


{% endblock %}