{% extends "base.html" %}
{% block title %}Solo Session{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h2>Solo Session</h2>

  {% if timer_status == 'ready_to_start' %}
      <form action="/session?&timer=start&session_id={{ session_id }}&distance_miles={{ distance_miles }}" method="POST">
      <button type="submit" class="btn btn-success btn-lg">Start Timer</button>
      </form>  
  {% endif %}

  {% if timer_status == 'vehicle_in_timer' %}
      <form action="/session?&timer=end&session_id={{ session_id }}&distance_miles={{ distance_miles }}&observation_id={{ observation_id }}" method="POST">
      <button type="submit" class="btn btn-danger btn-lg">End Timer</button>
      </form>
  {% endif %}

  <h2>Stats</h2>
  <ul>
    <li>Vehicle Count: {{ vehicle_count }}</li>
    <li>Max Speed: {{ '%0.1f'|format(max_speed|float) }}</li>
    <li>Median Speed: {{ '%0.1f'|format(median_speed|float) }}</li>
  </ul>

  <h2>Observed Vehicles</h2>
  <table class="table">
  <thead>
  <tr>
    <th scope="col">Start Time</th>
    <th scope="col">Seconds Elapsed</th>
    <th scope="col">Miles Per Hour</th>
    <th scope="col">Valid</th>
  </tr>
  </thead>
  <tbody>
  {% for key,obs in df.iterrows() %}
    <tr scope="row">
    <td>{{ obs.start_time_local }}</td>
    <td>{{ '%0.2f'|format(obs.elapsed_seconds|float) }}</td>
    <td>{{ '%0.1f'|format(obs.mph|float) }}</td>
    {% if obs.valid %}
      <td><input type="checkbox" name="valid_obs" checked></td>
    {% else %}
      <td><input type="checkbox" name="valid_obs"></td>
    {% endif %}
    </tr>
  {% endfor %}
</table>


{% if vehicle_count > 1 %}
<p>
  <img src="/session/{{ session_id }}/plot.png" alt="Histogram of observed speeds">
</p>
{% endif %}
<!-- <p>
    <h2>Debug Info</h2>
    <ul>
        <li>session_id = {{ session_id }}</li>
        <li>distance_miles = {{ distance_miles }}</li>
        <li>timer_status = {{ timer_status }}</li>
    </ul>
</p>

 -->

<p><a href='begin_solo'>End this session and start new session</a></p>

{% endblock %}