{% extends 'base.html' %}

{% block title %}Session Settings{% endblock %}

{% block content %}

  <div class="form-wrapper">
    <h2 class="title">Observation Session Settings</h2>


    {% from "_formhelpers.html" import render_field %}

    <form method="POST" action="/session_settings?session_id={{ session_id if session_id else 'new_session' }}">
      {{ form_settings.csrf_token }}

      <dl>
        {{ render_field(form_settings.session_mode) }}
        {{ render_field(form_settings.distance_value) }}
        {{ render_field(form_settings.distance_units) }}
        {{ render_field(form_settings.speed_limit_value) }}
        {{ render_field(form_settings.speed_units) }}
        {{ render_field(form_settings.local_timezone) }}
        {{ render_field(form_settings.session_description) }}
        {{ render_field(form_settings.publish) }}
      </dl>

      {{ form_settings.submit }}

      </form>

  </div>



{% endblock %}