{% extends "base.html" %}
{% block title %}Session{% endblock %}
{% block head %}
  {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}

<script>
$(document).ready(function(){
    var socket = io();
    var session_id = '0ea3af29-5120-4758-a247-c2acbf29928c'
    var active_observation_id = 'no_active_obs'

    $('.timer_button').click(function() {

        var btn = document.getElementById("myButton");

        if (btn.value == "Start Timer") {
            btn.value = "End Timer";
            btn.innerHTML = "End Timer";

            socket.emit('broadcast start', {'session_id': session_id, 'active_observation_id': active_observation_id})
        }

        else {
            btn.value = "Start Timer";
            btn.innerHTML = "Start Timer";

            socket.emit('broadcast end', {'session_id': session_id, 'active_observation_id': active_observation_id})

            active_observation_id = 'no_active_obs'
        }
      
    });

    // $('.timer_button').click(function() {
    //     // socket.emit('broadcast end', { session_id: '0ea3af29-5120-4758-a247-c2acbf29928c', active_observation_id: active_observation_id});
    //     var btn = document.getElementById("myButton");
    //     btn.innerHTML = 'Start Timer';

    // });

    socket.on('new observation id', function(msg) {
      active_observation_id = msg['active_observation_id'];
    });

});
</script>


  <h2>Session</h2>

<!-- <button type="button" class="btn btn-success" id="timer_button">Start Timer</button> -->

<button id="myButton" class="timer_button" value="Start Timer">Start Timer</button>


<!-- <button type="button" class="timer_start btn btn-success" id="timer_start">Start Timer</button> -->
<!-- <button type="button" class="timer_end btn btn-danger" id="timer_end">End Timer</button> -->


<!--     <form id="timer_button" method="POST" action='#'>
        <input type="submit" value="Start Timer">
    </form>
 -->
<!--     <form id="broadcast_end" method="POST" action='#'>
        <input type="submit" value="End Timer">
    </form>
 -->
<!-- 

  {% if timer_status == 'ready_to_start' %}
      <form action="/session/{{ session_id }}?&timer=start" method="POST">
      <button type="submit" class="btn btn-success btn-lg">Start Timer</button>
      </form>
  {% endif %}

  {% if timer_status == 'vehicle_in_timer' %}
      <form action="/session/{{ session_id }}?&timer=end&active_observation_id={{ active_observation_id }}" method="POST">
      <button type="submit" class="btn btn-danger btn-lg">End Timer</button>
      </form>
  {% endif %}

  {% if timer_status == 'timer_off' %}
      <form action="/session/{{ session_id }}?&timer=ready" method="POST">
      <button type="submit" class="btn btn-outline-primary btn-lg">Return to Timer</button>
      </form>
  {% endif %}
 -->
  <h2>Stats</h2>
  <ul>
    <li>Vehicle Count: {{ vehicle_count }}</li>
    <li>Max Speed: {{ '{:0.1f}'.format(max_speed) }}</li>
    <li>Median Speed: {{ '{:0.1f}'.format(median_speed) }}</li>
    <li>Speed Limit: {{ '{}'.format(speed_limit_mph) }}</li>
    <li>Distance in Miles: {{ '{}'.format(distance_miles) }}</li>
  </ul>

  <p><a href='/session_settings?session_id={{ session_id }}'>Edit session</a></p>


<h2>Observed Vehicles</h2>
  <table class="table">
  <thead>
  <tr>
    <th scope="col">Start Time</th>
    <th scope="col">Seconds Elapsed</th>
    <th scope="col">Miles Per Hour</th>
    <th scope="col">Valid</th>
  </tr>
  </thead>
  <tbody>
  {% for _, obs in df.iterrows() %}
    <tr scope="row">
    <td><a href="/observation/{{ obs.observation_id }}">{{ obs.start_time_local }}</a></td>
    <td>{{ '%0.2f'|format(obs.elapsed_seconds|float) }}</td>
    <td>{{ '%0.1f'|format(obs.mph|float) }}</td>

    <td>
    {% if obs.valid %}
    <form action="/session/{{ session_id }}/{{ obs.observation_id }}?valid_action=False" method="POST">
      <button type="submit" class="btn btn-primary">Valid</button>
    </form>
    {% else %}
    <form action="/session/{{ session_id }}/{{ obs.observation_id }}?valid_action=True" method="POST">
      <button type="submit" class="btn btn-outline-primary">Invalid</button>
    </form>
    {% endif %}
    </td>

    </tr>
  {% endfor %}
</table>

<p>
{% if vehicle_count > 1 %}
  <img src="/session/{{ session_id }}/plot.png" alt="Histogram of observed speeds">
{% else %}
    When there are at least 2 observations in a session, a histogram will be plotted here. 
{% endif %}
</p>

<!-- <p>
    <h2>Debug Info</h2>
    <ul>
        <li>session_id = {{ session_id }}</li>
        <li>distance_miles = {{ distance_miles }}</li>
        <li>timer_status = {{ timer_status }}</li>
    </ul>
</p>

 -->

<p><a href='/session_settings'>Start a new session</a></p>

<p><a href="/session_list">Session List</a></p>

{% endblock %}