<h2>Session List</h2>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Date and Time</th>
    <th scope="col">Observations</th>
    <th scope="col">Result</th>
    <!-- <th scope="col">Published</th> -->
    <th scope="col">Description</th>
  </tr>
  </thead>
  <tbody>
  {% for _, row in session_list_df.iterrows() %}
    <tr scope="row">
    {% if row.session_mode == 'speed timer' %}
      <td><a href="/session?session_id={{ row.session_id }}">{{ row.created_at_local }}</a></td>
    {% elif row.session_mode == 'counter' %}
      <td><a href="/counter?session_id={{ row.session_id }}">{{ row.created_at_local }}</a></td>
    {% endif %}
    <td>{{ '%0.0f'|format(row.num_observations|float) }}</td>
    <td>{{ row.result }} </td>
    <!-- <td>{{ row.publish }} </td> -->
    <td>{{ row.session_description }} </td>
    </tr>
  {% endfor %}
</table>
