{% extends "base.html" %}
{% block title %}Speed Timer Session{% endblock %}
{% block head %}
  {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}

<div style="height: 300px">
  <h2>Speed Timer Session</h2>

  <ul>
    <li>Location Name: {{ location_name }}</li>
    <li>Distance: {{ '{:0.1f}'.format(distance_value) }} {{ distance_units }}</li>
    <li>Vehicle Count: {{ vehicle_count }}</li>
    <li>Speed Limit: {{ '{:0.0f}'.format(speed_limit_value) }} {{ speed_units_short }}</li>
    <li>Max Speed: {{ '{:0.1f}'.format(max_speed) }} {{ speed_units_short }}</li>
    <li>Median Speed: {{ '{:0.1f}'.format(median_speed) }} {{ speed_units_short }}</li>
    <li>Most Recent Speed: {{ '{:0.1f}'.format(most_recent_speed) }} {{ speed_units_short }}</li>
  </ul>

  {% if allow_session_edit %}
    <p><a href='/session_settings?session_id={{ session_id }}'>Edit session</a></p>
  {% endif %}
  
  <p>Location: <a href="/location?location_id={{ location_id }}">{{ location_name }}</a></p>

</div>


{% if allow_data_entry %}

<script>
$(document).ready(function(){
    var socket = io();

    const urlParams = new URLSearchParams(window.location.search);
    const session_id = urlParams.get('session_id');

    var active_observation_id = 'no_active_obs'

    $('.timer_button').click(function() {

        var btn = document.getElementById("myButton");

        if (btn.value == "Start Timer") {
            btn.value = "End Timer";
            btn.innerHTML = "End Timer";
            btn.classList.remove('btn-success');
            btn.classList.add('btn-danger');

            socket.emit('broadcast start', {'session_id': session_id, 'active_observation_id': active_observation_id});
        }

        else {
            btn.value = "Start Timer";
            btn.innerHTML = "Start Timer";
            btn.classList.remove('btn-danger');
            btn.classList.add('btn-success');

            socket.emit('broadcast end', {'session_id': session_id, 'active_observation_id': active_observation_id});
        }
      
    });


    socket.on('new observation id', function(msg) {
      active_observation_id = msg['active_observation_id'];

      var btn = document.getElementById("myButton");

      if (btn.value == "Start Timer") {
          btn.value = "End Timer";
          btn.innerHTML = "End Timer";
          btn.classList.remove('btn-success');
          btn.classList.add('btn-danger');

      }

    });

    socket.on('observation concluded', function(msg) {
      active_observation_id = 'no_active_obs';

      var btn = document.getElementById("myButton");

      if (btn.value == "End Timer") {
          btn.value = "Start Timer";
          btn.innerHTML = "Start Timer";
          btn.classList.remove('btn-danger');
          btn.classList.add('btn-success');
      }

      location.reload();

    });


});
</script>

  <h2>Timer</h2>
  <div style="height: 300px" class="d-grid gap-2 d-md-block">
  <button id="myButton" class="timer_button btn btn-success" value="Start Timer">Start Timer</button>
  </div>

{% endif %}

<h2>Observed Vehicles</h2>
  <table class="table">
  <thead>
  <tr>
    <th scope="col">Start Time</th>
    <th scope="col">Seconds Elapsed</th>
    <th scope="col">Speed</th>
    <th scope="col">Valid</th>
  </tr>
  </thead>
  <tbody>
  {% for _, obs in completed_observations.iterrows() %}
    <tr scope="row">
    <td><a href="/observation/{{ obs.observation_id }}">{{ obs.start_time_local }}</a></td>
    <td>{{ '%0.2f'|format(obs.elapsed_seconds|float) }}</td>
    <td>{{ '%0.1f'|format(obs.speed_value|float) }} {{ obs.speed_units_short }}</td>

    <td>
    {% if obs.observation_valid %}
    <form action="/session/{{ session_id }}/{{ obs.observation_id }}?valid_action=False" method="POST">
      <button type="submit" class="btn btn-primary">Valid</button>
    </form>
    {% else %}
    <form action="/session/{{ session_id }}/{{ obs.observation_id }}?valid_action=True" method="POST">
      <button type="submit" class="btn btn-outline-primary">Invalid</button>
    </form>
    {% endif %}
    </td>

    </tr>
  {% endfor %}
</tbody>
</table>

<p>
{% if vehicle_count > 1 %}
  <img src="/session/{{ session_id }}/plot.png" alt="Histogram of observed speeds">
{% else %}
    When there are at least 2 observations in a session, a histogram will be plotted here. 
{% endif %}
</p>

{% if allow_data_entry %}
<div>
  To invite another user to join this observation session, show them this QR code:
  <div>
    <img src="{{ qr.svg_data_uri(scale=5) }}">
  </div>
  Alternatively, you can send them this link: <a href="{{ this_url }}">{{ this_url }}</a>
</div>
{% endif %}

<br />
<br />
<br />

{% endblock %}